<ion-list>
    <!-- Item with an avatar on the left and button on the right -->
    <!-- Item with a thumbnail on the right -->
    <ion-item *ngFor="let movie of listOfMovies.results">
        <h2>{{movie.title}}</h2>
        <p>{{movie.overview}}</p>
        <p> <button ion-button outline item-right>View</button></p>
        <ion-thumbnail item-left>
            <img src="http://image.tmdb.org/t/p/w92/{{movie.poster_path}}" />
        </ion-thumbnail>
    </ion-item>


</ion-list>